body {
  background-image: url("https://giffiles.alphacoders.com/209/209037.gif");
  display: flex;
  justify-content: center;
}

main {
  margin: 1em auto;
  border-radius: 0 0 3em 3em;
  background-color: black;
  color: white;
  border: 2px solid lightgray;
}

.text-justify {
  text-align: justify;
}

#skill-bars {
  padding-bottom: 10px;
}

#skill-items {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
